@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --green-text: #42A800;
    --green-button: #078D3B;
}

body {
    font-family: 'Poppins', sans-serif;
}
